---
import Layout from "../layouts/HomeLayout.astro";
---

<Layout title="Affiliate :: FreedomeE">
  <main>
    <div class="container">
      <div class="hom-content">
        <img class="logo" src="/img/logo.png" alt="logo" />
        <h1>Discover the Future!</h1>
        <p>Join the COLLABOCRATIC evolution in the PHYgital market.</p>
        <p>
          Discover <a href="https://freedomee.network">Freedom eE!</a>
        </p>
      </div>
      <div class="control">
        <button type="button" id="hom-signin">Sign in</button>
      </div>
    </div>
  </main>

  <div class="carousel" id="carousel"></div>
  <div class="signin" id="signin"></div>
</Layout>
