---
import Layout from "../layouts/HomeLayout.astro";
---

<Layout title="Join FreedomeE">
  <main>
    <div class="container 404">
		<div class="hom-content">
      		<h1>Page not found!</h1>
	  		<p>Go to <a href="/">Home</a>.</p>
		</div>
    </div>
  </main>
</Layout>
