body {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	width: 100%;
	min-height: 100vh;
	overflow: auto;
}

/* HEADER
----------------------------------------------------------------------------- */
header {
	width: 100%;
	background: #def;
	box-shadow: 0 3px 30px rgba(0,0,0,0.2);
}

header .container {
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

header .user {
    display: flex;
    gap: 1rem;
}

header .user .avatar {
	margin: 0 auto;
	min-width: 100px;
	max-width: 140px;
}

header .user .avatar img {
	width: 100%;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
}

header .user h1 {
	font-size: 2rem;
	font-weight: 300;
}

header .user p {
	margin: 1rem 0 0 0;
}

/* MAIN
----------------------------------------------------------------------------- */
main {
	display: flex;
	padding: 1rem;
	position: relative;
	z-index: 100;
	flex: 1;
	overflow-x: auto;
    overflow-y: hidden;
}

main .container {
	margin: 0 auto;
	width: 100%;
	max-width: 600px;

	border-radius: var(--radius-1);
}

/* FOOTER
----------------------------------------------------------------------------- */
footer {
    display: flex;
    align-items: center;
    background: #def;
    width: 100%;
    justify-content: center;
}